<h2>Contacto {{saludo}} </h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum velit aliquid ea totam vel hic, 
consectetur ipsam ipsum quasi magnam sunt beatae adipisci excepturi deleniti eius aliquam quos autem esse.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit eaque deleniti doloribus esse, obcaecati laboriosam, 
aliquid quas, dolore atque pariatur omnis. Velit repellat iure, doloribus blanditiis consectetur culpa eius tenetur!
</p>

<div ng-controller="clickedCtrl" >
    <button ng-click="myFunc()">OK</button>
    <p>The button has been clicked <h1>{{count}} </h1></p>
</div>
        